<div class="hom">
  <ion-card class="cal" style="box-shadow:rgb(64, 95, 17); width:60%;margin-left: 20%;margin-top: 5%;justify-content: center;display: flex;background-color: #12966f;color:white">
    
  GST Calculator: Calculate Your GST Amount Online
</ion-card>


<ion-list style="width:60%;margin-left: 20% ;margin-top: 2%">
    
        <p style="margin-left: 2%">GST calculator enables you to find pre-GST and post-GST amounts based on specific GST rates.</p>
      
      <ion-item>
          <ion-label style="color:black;">SELECT GST TYPE</ion-label>
          <ion-select  [(ngModel)]="selectGST">
            <!-- <ion-option  value=3>GST Exclusive</ion-option> -->
            <ion-option  *ngFor="let v of valu" [value]=v.id >{{v.name}}</ion-option>

         
           
          </ion-select>
        </ion-item>
  
    <ion-item>
      <ion-label floating>Amount</ion-label>
      <ion-input type="number" [(ngModel)]="amount"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label >GST</ion-label>
        <ion-select [(ngModel)]="GST">
          <ion-option value=5>5%</ion-option>
          <ion-option value=12>12%</ion-option>
          <ion-option value=18>18%</ion-option>
          <ion-option value=28>28%</ion-option>
         
        </ion-select>
     </ion-item>
<button ion-button block outline  (click)="onClick()" [disabled]="Valid" >Calculate</button>
  
</ion-list>
<ion-card style="width:60% ;margin-left: 20%;margin-top: 4%;background-color:#12926f;color: white;font-weight: 300">
    <ion-grid>
        <ion-row *ngIf="result">
          <ion-col col-6>{{"GST"}} </ion-col>
          <ion-col col-6>{{result |number:'1.2-2'}}</ion-col>
        </ion-row>
        <ion-row *ngIf="total">
          <ion-col col-6>{{"Pre-GST Amount"}} </ion-col>
          <ion-col col-6>{{total |number:'1.2-2' }}</ion-col>
        </ion-row>
      </ion-grid>

</ion-card>  
</div>